.recommended__btn {
  padding: 4px 5px;
  border-radius: 20px;
  margin-left: 10px;
  white-space: nowrap;
  color: #030303;
  background-color: #f2f2f2;
  text-decoration: none;
  border: 1px solid #606060;
  cursor: pointer;
  font-size: 14px;
}
